{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-color: black;
        color: white;
        font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    }
    h2.card-title {
        font-weight: bold;
    }
</style>

<div class="container mt-5" style="background-image: url('media/common_image/portfolio_background.png'); background-size: cover; background-position: center;">
    <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto">
            <h2 class="display-4 text-center mb-4 text-warning">About Me</h2>
            {% for item in items %}
            <p class="text-white">{{ item.summary|safe }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}





